<h1>Schedule a New Walk</h1>
<header>Use the form below to schedule a new walk.</header>

<%= form_for(@walk) do |f| %>
	<p>
		<%= f.label :dog_id, "Select a dog" %>
		<%= f.collection_select :dog_id, Dog.all, :id, :name %>
	</p>
	<p>
		<%= f.label :starttime %>
		<%= f.datetime_select :starttime, :start_year => Time.now.year %>
	</p>
	<p>
		<%= f.label :duration_in_minutes %>
		<%= f.text_field :duration_in_minutes %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>